# imports

In [77]:
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns
import streamlit as st
from sklearn.impute import KNNImputer

# load data

In [78]:
df= pd.read_csv('final_dataset.csv')
df

,id,title,year,duration,MPA,rating,votes,meta_score,description,Movie_Link,...,opening_weekend_gross,gross_worldwide,gross_us_canada,release_date,countries_origin,filming_locations,production_companies,awards_content,genres,languages
0,tt0073195,Jaws,1975,2h 4m,PG,8.1,690K,87.0,When a massive killer shark unleashes chaos on...,https://www.imdb.com/title/tt0073195,...,"$7,061,513","$477,916,625","$267,263,625",1975.0,['United States'],"[""Water Street, Edgartown, Martha's Vineyard, ...","['Zanuck/Brown Productions', 'Universal Pictur...","Won 3 Oscars, 16 wins & 20 nominations total","['Monster Horror', 'Sea Adventure', 'Survival'...",['English']
1,tt0073629,The Rocky Horror Picture Show,1975,1h 40m,R,7.4,174K,65.0,A newly-engaged couple have a breakdown in an ...,https://www.imdb.com/title/tt0073629,...,NaN,"$115,827,018","$112,892,319",1975.0,"['United Kingdom', 'United States']","[""Oakley Court, Windsor Road, Oakley Green, Wi...","['Twentieth Century Fox', 'Michael White Produ...","Awards, 3 wins & 4 nominations total","['B-Horror', 'Dark Comedy', 'Parody', 'Raunchy...",['English']
2,tt0073486,One Flew Over the Cuckoo's Nest,1975,2h 13m,R,8.7,1.1M,84.0,"In the Fall of 1963, a Korean War veteran and ...",https://www.imdb.com/title/tt0073486,...,NaN,"$109,115,366","$108,981,275",1975.0,['United States'],['Oregon State Mental Hospital - 2600 Center S...,"['Fantasy Films', 'N.V. Zvaluw']","Won 5 Oscars, 38 wins & 15 nominations total","['Medical Drama', 'Psychological Drama', 'Drama']",['English']
3,tt0072890,Dog Day Afternoon,1975,2h 5m,R,8.0,281K,86.0,Three amateur robbers plan to hold up a Brookl...,https://www.imdb.com/title/tt0072890,...,NaN,"$50,004,527","$50,000,000",1975.0,['United States'],"['285 Prospect Park West, Brooklyn, New York C...","['Warner Bros.', 'Artists Entertainment Complex']","Won 1 Oscar, 14 wins & 20 nominations total","['Dark Comedy', 'Heist', 'True Crime', 'Biogra...",['English']
4,tt0073692,Shampoo,1975,1h 50m,R,6.4,15K,65.0,"On Election Day, 1968, irresponsible hairdress...",https://www.imdb.com/title/tt0073692,...,NaN,"$49,407,734","$49,407,734",1975.0,['United States'],"[""2270 Bowmont Drive, Beverly Hills, Californi...","['Persky-Bright / Vista', 'Columbia Pictures',...","Won 1 Oscar, 3 wins & 11 nominations total","['Satire', 'Comedy', 'Drama']",['English']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63244,tt0094976,Death by Dialogue,1988,1h 29m,R,3.2,402,NaN,A guy and four of his friends visit his crippl...,https://www.imdb.com/title/tt0094976,...,NaN,NaN,NaN,1988.0,['United States'],"['Los Angeles, California, USA']",['City Lights Entertainment Group'],NaN,"['Slasher Horror', 'Horror']",['English']
63245,tt0094912,The Courier,1988,1h 25m,R,5.4,143,NaN,When a courier at the D-Day Courier Service mi...,https://www.imdb.com/title/tt0094912,...,NaN,NaN,NaN,1988.0,"['United Kingdom', 'Ireland']","['Ardmore Studios, Herbert Road, Bray, County ...",['Bord Scannán na hÉireann / The Irish Film Bo...,NaN,"['Action', 'Crime', 'Thriller']","['Irish Gaelic', 'English']"
63246,tt0093117,Tadpole and the Whale,1988,1h 31m,TV-G,6.2,454,NaN,"On their arrival in Mingan, on the north coast...",https://www.imdb.com/title/tt0093117,...,NaN,NaN,NaN,1988.0,['Canada'],"[""Île Nue, La réserve de parc national de l'Ar...","['Les Productions La Fête Inc.', 'Téléfilm Can...","Awards, 1 win & 6 nominations total","['Adventure', 'Comedy', 'Drama', 'Family']","['French', 'English']"
63247,tt0099235,The Cellar,1988,1h 25m,PG-13,4.6,1.1K,NaN,A family moves into an old house in the Texas ...,https://www.imdb.com/title/tt0099235,...,NaN,NaN,NaN,1988.0,['United States'],"['Tucson, Arizona, USA']",['Indian Neck Entertainment'],NaN,"['Monster Horror', 'Supernatural Horror', 'Hor...",['English']
63248,tt0155726,Grandi cacciatori,1988,1h 38m,NaN,5.9,90,NaN,"After a man's wife is killed by a panther, his...",https://www.imdb.com/title/tt0155726,...,NaN,NaN,NaN,1988.0,['Italy'],"['Alaska, USA']",NaN,NaN,['Adventure'],['Italian']

# handle missing values in a dataset

In [79]:
df.isnull().mean().round(4)*100

id                        0.00
title                     0.00
year                      0.00
duration                  3.28
MPA                      34.82
rating                    6.43
votes                     6.43
meta_score               75.44
description               3.73
Movie_Link                0.00
writers                   0.43
directors                 0.08
stars                     0.54
budget                   75.72
opening_weekend_gross    73.38
gross_worldwide          67.24
gross_us_canada          69.10
release_date             13.28
countries_origin          0.16
filming_locations        26.65
production_companies      3.12
awards_content           57.20
genres                    1.24
languages                 0.52
dtype: float64

## nans > 40%

In [80]:
df.drop("meta_score", axis=1, inplace=True)
df.drop("budget", axis=1, inplace=True)
df.drop("opening_weekend_gross", axis=1, inplace=True)
df.drop("gross_worldwide", axis=1, inplace=True)
df.drop("gross_us_canada", axis=1, inplace=True)
df.drop("awards_content", axis=1, inplace=True)

In [81]:
df.isnull().mean().round(4)*100

id                       0.00
title                    0.00
year                     0.00
duration                 3.28
MPA                     34.82
rating                   6.43
votes                    6.43
description              3.73
Movie_Link               0.00
writers                  0.43
directors                0.08
stars                    0.54
release_date            13.28
countries_origin         0.16
filming_locations       26.65
production_companies     3.12
genres                   1.24
languages                0.52
dtype: float64

## nans < 5%

In [82]:
df.dropna(subset=['duration','rating','description','writers','stars','countries_origin','production_companies','languages','genres'], inplace=True)

In [83]:
df.isnull().mean().round(4)*100

id                       0.00
title                    0.00
year                     0.00
duration                 0.00
MPA                     28.05
rating                   0.00
votes                    0.00
description              0.00
Movie_Link               0.00
writers                  0.00
directors                0.00
stars                    0.00
release_date            13.93
countries_origin         0.00
filming_locations       21.22
production_companies     0.00
genres                   0.00
languages                0.00
dtype: float64

## 5% < nans < 40%

In [84]:
df.MPA.value_counts(normalize= True).round(4) * 100

MPA
R            27.89
Approved     24.83
Not Rated    15.16
PG-13         9.99
PG            9.31
Passed        4.31
Unrated       2.75
G             2.24
TV-MA         0.85
TV-14         0.62
TV-PG         0.54
X             0.39
GP            0.34
TV-G          0.23
NC-17         0.17
M             0.14
M/PG          0.11
TV-Y7         0.03
18+           0.02
16+           0.02
TV-Y7-FV      0.01
13+           0.01
TV-Y          0.01
TV-13         0.01
MA-17         0.00
Name: proportion, dtype: float64

In [85]:
df['MPA'] = df.MPA.fillna('Unknown')

In [86]:
df.isnull().mean().round(4)*100

id                       0.00
title                    0.00
year                     0.00
duration                 0.00
MPA                      0.00
rating                   0.00
votes                    0.00
description              0.00
Movie_Link               0.00
writers                  0.00
directors                0.00
stars                    0.00
release_date            13.93
countries_origin         0.00
filming_locations       21.22
production_companies     0.00
genres                   0.00
languages                0.00
dtype: float64

In [87]:
df.release_date.value_counts(normalize= True).round(4) * 100

release_date
2007.0    1.23
2009.0    1.23
1988.0    1.22
2006.0    1.22
2001.0    1.22
          ...
2024.0    0.00
2015.0    0.00
2017.0    0.00
2011.0    0.00
1993.0    0.00
Name: proportion, Length: 104, dtype: float64

In [88]:

knn = KNNImputer(n_neighbors= 3)
df[['release_date']] = knn.fit_transform(df[['release_date']])

In [89]:
df.filming_locations.value_counts(normalize= True).round(4) * 100

filming_locations
['Los Angeles, California, USA']                                                                              1.96
['Universal Studios - 100 Universal City Plaza, Universal City, California, USA (Studio)']                    1.67
['Metro-Goldwyn-Mayer Studios - 10202 W. Washington Blvd., Culver City, California, USA (Studio)']            1.37
['Paramount Studios - 5555 Melrose Avenue, Hollywood, Los Angeles, California, USA (Studio)']                 1.35
['New York City, New York, USA']                                                                              1.32
                                                                                                              ...
["2270 Bowmont Drive, Beverly Hills, California, USA (Jackie's House at Bowmont & Hazen)"]                    0.00
["Île Nue, La réserve de parc national de l'Archipel-de-Mingan, Québec, Canada (islands and boat scenes)"]    0.00
['Centennial Park, Nashville, Tennessee, USA']                                                                0.00
['Moore Theater - 1932 2nd Avenue, Seattle, Washington, USA']                                                 0.00
['Oregon State Mental Hospital - 2600 Center Street NE, Salem, Oregon, USA']                                  0.00
Name: proportion, Length: 20772, dtype: float64

In [90]:
df['filming_locations'] = df.filming_locations.fillna('Unknown')

In [91]:
df.isnull().mean().round(4)*100

id                      0.0
title                   0.0
year                    0.0
duration                0.0
MPA                     0.0
rating                  0.0
votes                   0.0
description             0.0
Movie_Link              0.0
writers                 0.0
directors               0.0
stars                   0.0
release_date            0.0
countries_origin        0.0
filming_locations       0.0
production_companies    0.0
genres                  0.0
languages               0.0
dtype: float64

# Data cleaning and convert Data type

In [92]:
df["release_date"] = pd.to_datetime(df["release_date"], errors='coerce')
df["year"] = pd.to_datetime(df["year"], errors='coerce')

In [93]:
def clean_duration(duration):
    if isinstance(duration, str):
        hours = 0
        minutes = 0
        parts = duration.split()
        
        for part in parts:
            if 'h' in part:
                hours = int(part.replace('h', ''))
            elif 'm' in part:
                minutes = int(part.replace('m', ''))
                
        total_minutes = hours * 60 + minutes
        return total_minutes
    return np.nan

df['duration'] = df['duration'].apply(clean_duration)

In [94]:
def convert_votes(v):
    if isinstance(v, str):
        v = v.strip().lower()
        if 'm' in v:
            return float(v.replace('m', '')) * 1000000
        elif 'k' in v:
            return float(v.replace('k', '')) * 1000
        elif v.replace('.', '', 1).isdigit():
            return float(v)
    elif isinstance(v, (int, float)):
        return float(v)
    return np.nan

df['votes'] = df['votes'].apply(convert_votes)

# data after cleaning

In [95]:
df.isna().mean().round(4) * 100

id                      0.0
title                   0.0
year                    0.0
duration                0.0
MPA                     0.0
rating                  0.0
votes                   0.0
description             0.0
Movie_Link              0.0
writers                 0.0
directors               0.0
stars                   0.0
release_date            0.0
countries_origin        0.0
filming_locations       0.0
production_companies    0.0
genres                  0.0
languages               0.0
dtype: float64

In [96]:
df

,id,title,year,duration,MPA,rating,votes,description,Movie_Link,writers,directors,stars,release_date,countries_origin,filming_locations,production_companies,genres,languages
0,tt0073195,Jaws,1970-01-01 00:00:00.000001975,124,PG,8.1,690000.0,When a massive killer shark unleashes chaos on...,https://www.imdb.com/title/tt0073195,"['Peter Benchley', 'Carl Gottlieb']",['Steven Spielberg'],"['Roy Scheider', 'Robert Shaw', 'Richard Dreyf...",1970-01-01 00:00:00.000001975,['United States'],"[""Water Street, Edgartown, Martha's Vineyard, ...","['Zanuck/Brown Productions', 'Universal Pictur...","['Monster Horror', 'Sea Adventure', 'Survival'...",['English']
1,tt0073629,The Rocky Horror Picture Show,1970-01-01 00:00:00.000001975,100,R,7.4,174000.0,A newly-engaged couple have a breakdown in an ...,https://www.imdb.com/title/tt0073629,"[""Richard O'Brien"", 'Jim Sharman']",['Jim Sharman'],"['Tim Curry', 'Susan Sarandon', 'Barry Bostwic...",1970-01-01 00:00:00.000001975,"['United Kingdom', 'United States']","[""Oakley Court, Windsor Road, Oakley Green, Wi...","['Twentieth Century Fox', 'Michael White Produ...","['B-Horror', 'Dark Comedy', 'Parody', 'Raunchy...",['English']
2,tt0073486,One Flew Over the Cuckoo's Nest,1970-01-01 00:00:00.000001975,133,R,8.7,1100000.0,"In the Fall of 1963, a Korean War veteran and ...",https://www.imdb.com/title/tt0073486,"['Lawrence Hauben', 'Bo Goldman', 'Ken Kesey']",['Milos Forman'],"['Jack Nicholson', 'Louise Fletcher', 'Michael...",1970-01-01 00:00:00.000001975,['United States'],['Oregon State Mental Hospital - 2600 Center S...,"['Fantasy Films', 'N.V. Zvaluw']","['Medical Drama', 'Psychological Drama', 'Drama']",['English']
3,tt0072890,Dog Day Afternoon,1970-01-01 00:00:00.000001975,125,R,8.0,281000.0,Three amateur robbers plan to hold up a Brookl...,https://www.imdb.com/title/tt0072890,"['Frank Pierson', 'P.F. Kluge', 'Thomas Moore']",['Sidney Lumet'],"['Al Pacino', 'John Cazale', 'Penelope Allen',...",1970-01-01 00:00:00.000001975,['United States'],"['285 Prospect Park West, Brooklyn, New York C...","['Warner Bros.', 'Artists Entertainment Complex']","['Dark Comedy', 'Heist', 'True Crime', 'Biogra...",['English']
4,tt0073692,Shampoo,1970-01-01 00:00:00.000001975,110,R,6.4,15000.0,"On Election Day, 1968, irresponsible hairdress...",https://www.imdb.com/title/tt0073692,"['Robert Towne', 'Warren Beatty']",['Hal Ashby'],"['Warren Beatty', 'Julie Christie', 'Goldie Ha...",1970-01-01 00:00:00.000001975,['United States'],"[""2270 Bowmont Drive, Beverly Hills, Californi...","['Persky-Bright / Vista', 'Columbia Pictures',...","['Satire', 'Comedy', 'Drama']",['English']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63243,tt0094935,The Diary of a Big Man,1970-01-01 00:00:00.000001988,86,Unknown,6.7,582.0,A two-timing bigamist finds himself concocting...,https://www.imdb.com/title/tt0094935,"['Philip Cheng', 'Man Fai Ng']",['Yuen Chor'],"['Chow Yun-Fat', 'Sally Yeh', 'Joey Wang', 'Wa...",1970-01-01 00:00:00.000001988,['Hong Kong'],"['Hong Kong, China']","['Cinema City', 'Film Workshop']","['Comedy', 'Romance']",['Cantonese']
63244,tt0094976,Death by Dialogue,1970-01-01 00:00:00.000001988,89,R,3.2,402.0,A guy and four of his friends visit his crippl...,https://www.imdb.com/title/tt0094976,"['Thomas Dewier', 'Susan Trabue']",['Thomas Dewier'],"['Ken Sagoes', 'Laura Albert', 'Lenny Delducca...",1970-01-01 00:00:00.000001988,['United States'],"['Los Angeles, California, USA']",['City Lights Entertainment Group'],"['Slasher Horror', 'Horror']",['English']
63245,tt0094912,The Courier,1970-01-01 00:00:00.000001988,85,R,5.4,143.0,When a courier at the D-Day Courier Service mi...,https://www.imdb.com/title/tt0094912,['Frank Deasy'],"['Frank Deasy', 'Joe Lee']","[""Padraig O'Loinsigh"", ""Cait O'Riordan"", 'Gabr...",1970-01-01 00:00:00.000001988,"['United Kingdom', 'Ireland']","['Ardmore Studios, Herbert Road, Bray, County ...",['Bord Scannán na hÉireann / The Irish Film Bo...,"['Action', 'Crime', 'Thriller']","['Irish Gaelic', 'English']"
63246,tt0093117,Tadpole and the Whale,1970-01-01 00:00:00.000001988,91,TV-G,6.2,454.0,"On their arrival in Mingan, on the north coast...",https://www.imdb.com/title/tt0093117,"['Jean-Claude Lord', 'Lise Thouin', 'Jacques B...",['Jean-Claude Lord'],"['Fanny Lauzier', 'Denis Forest', 'Marina Orsi...",1970-01-01 00:00:00.000001988,['Canada'],"[""Île Nue, La réserve de parc national de l'Ar...","['Les Productions La Fête Inc.', 'Téléfilm Can...","['Adventure', 'Comedy', 'Drama', 'Family']","['French', 'English']"
63247,tt0099235,The Cellar,1970-01-01 00:00:00.000001988,85,PG-13,4.6,1100.0,A family moves into an old house in the Texas ...,https://www.imdb.com/title/tt0099235,"['David Henry Keller', 'John Woodward', 'Darry...",['Kevin Tenney'],"['Patrick Kilpatrick', 'Chris Miller', 'Suzann...",1970-01-01 00:00:00.000001988,['United States'],"['Tucson, Arizona, USA']",['Indian Neck Entertainment'],"['Monster Horror', 'Supernatural Horror', 'Hor...",['English']

In [97]:
df.duplicated().sum()

np.int64(0)

# detecting outliers

In [98]:
from datasist.structdata import detect_outliers

In [99]:
# Only select numeric columns for outlier detection
numeric_cols = df.select_dtypes(include=[np.number]).columns

# Remove rows with outliers in any numeric column
outliers_indices = detect_outliers(df, 0, numeric_cols)
df.drop(index=outliers_indices, inplace=True)

# Replace outliers in each numeric column with the column median
for col in numeric_cols:
    outliers_indices = detect_outliers(df, 0, [col])
    col_median = df[col].median()
    df.loc[outliers_indices, col] = col_median

# preprocessing

In [100]:
df.select_dtypes(include=object).head()

,id,title,MPA,description,Movie_Link,writers,directors,stars,countries_origin,filming_locations,production_companies,genres,languages
6,tt0073026,Funny Lady,PG,Story of singer Fanny Brice's stormy relations...,https://www.imdb.com/title/tt0073026,"['Jay Presson Allen', 'Arnold Schulman']",['Herbert Ross'],"['Barbra Streisand', 'James Caan', 'Omar Shari...",['United States'],"['Central Station, Oakland, California, USA (C...","['Columbia Pictures', 'Rastar Pictures', 'Vista']","['Biography', 'Comedy', 'Drama', 'Musical', 'R...",['English']
7,tt0072653,The Apple Dumpling Gang,G,Three orphan children strike gold in 1878 Cali...,https://www.imdb.com/title/tt0072653,"['Don Tait', 'Jack M. Bickham']",['Norman Tokar'],"['Bill Bixby', 'Susan Clark', 'Don Knotts', 'T...",['United States'],"['Bend, Oregon, USA']",['Walt Disney Productions'],"['Slapstick', 'Comedy', 'Family', 'Western']",['English']
10,tt0073317,Lucky Lady,PG,A trio of rum-runners during prohibition in th...,https://www.imdb.com/title/tt0073317,"['Willard Huyck', 'Gloria Katz']",['Stanley Donen'],"['Gene Hackman', 'Liza Minnelli', 'Burt Reynol...",['United States'],"['Guaymas, Sonora, Mexico']",['Gruskoff/Venture Films'],"['Slapstick', 'Comedy', 'Crime', 'Drama']","['English', 'Spanish', 'French']"
11,tt0073075,The Great Waldo Pepper,PG,"After WW1, an ex-pilot takes up barn-storming ...",https://www.imdb.com/title/tt0073075,"['George Roy Hill', 'William Goldman']",['George Roy Hill'],"['Robert Redford', 'Bo Svenson', 'Bo Brundin',...",['United States'],"['Floresville, Texas, USA']","['Jennings Lang', 'Universal Pictures']","['Adventure', 'Drama']",['English']
13,tt0072951,Escape to Witch Mountain,G,Two mysterious orphan children have extraordin...,https://www.imdb.com/title/tt0072951,"['Robert Malcolm Young', 'Alexander Key']",['John Hough'],"['Eddie Albert', 'Ray Milland', 'Donald Please...",['United States'],"['Carmel, California, USA']",['Walt Disney Productions'],"['Adventure', 'Family', 'Fantasy', 'Mystery', ...",['English']

In [101]:
df_nominal = df.select_dtypes(include= 'object').drop('MPA', axis= 1)
df_nominal.head()

,id,title,description,Movie_Link,writers,directors,stars,countries_origin,filming_locations,production_companies,genres,languages
6,tt0073026,Funny Lady,Story of singer Fanny Brice's stormy relations...,https://www.imdb.com/title/tt0073026,"['Jay Presson Allen', 'Arnold Schulman']",['Herbert Ross'],"['Barbra Streisand', 'James Caan', 'Omar Shari...",['United States'],"['Central Station, Oakland, California, USA (C...","['Columbia Pictures', 'Rastar Pictures', 'Vista']","['Biography', 'Comedy', 'Drama', 'Musical', 'R...",['English']
7,tt0072653,The Apple Dumpling Gang,Three orphan children strike gold in 1878 Cali...,https://www.imdb.com/title/tt0072653,"['Don Tait', 'Jack M. Bickham']",['Norman Tokar'],"['Bill Bixby', 'Susan Clark', 'Don Knotts', 'T...",['United States'],"['Bend, Oregon, USA']",['Walt Disney Productions'],"['Slapstick', 'Comedy', 'Family', 'Western']",['English']
10,tt0073317,Lucky Lady,A trio of rum-runners during prohibition in th...,https://www.imdb.com/title/tt0073317,"['Willard Huyck', 'Gloria Katz']",['Stanley Donen'],"['Gene Hackman', 'Liza Minnelli', 'Burt Reynol...",['United States'],"['Guaymas, Sonora, Mexico']",['Gruskoff/Venture Films'],"['Slapstick', 'Comedy', 'Crime', 'Drama']","['English', 'Spanish', 'French']"
11,tt0073075,The Great Waldo Pepper,"After WW1, an ex-pilot takes up barn-storming ...",https://www.imdb.com/title/tt0073075,"['George Roy Hill', 'William Goldman']",['George Roy Hill'],"['Robert Redford', 'Bo Svenson', 'Bo Brundin',...",['United States'],"['Floresville, Texas, USA']","['Jennings Lang', 'Universal Pictures']","['Adventure', 'Drama']",['English']
13,tt0072951,Escape to Witch Mountain,Two mysterious orphan children have extraordin...,https://www.imdb.com/title/tt0072951,"['Robert Malcolm Young', 'Alexander Key']",['John Hough'],"['Eddie Albert', 'Ray Milland', 'Donald Please...",['United States'],"['Carmel, California, USA']",['Walt Disney Productions'],"['Adventure', 'Family', 'Fantasy', 'Mystery', ...",['English']

In [102]:
df_nominal_be=df_nominal.select_dtypes(include= 'object').drop(['id', 'description', 'Movie_Link', 'title'], axis= 1)
df_nominal_be.nunique()

writers                 37516
directors               15833
stars                   42778
countries_origin         2228
filming_locations       14786
production_companies    24684
genres                   6476
languages                2036
dtype: int64

In [103]:
for col in df_nominal_be.columns:

    print(col)
    print(df_nominal[col].nunique())
    print("--" * 20)

writers
37516
----------------------------------------
directors
15833
----------------------------------------
stars
42778
----------------------------------------
countries_origin
2228
----------------------------------------
filming_locations
14786
----------------------------------------
production_companies
24684
----------------------------------------
genres
6476
----------------------------------------
languages
2036
----------------------------------------

In [104]:
from category_encoders import BinaryEncoder

be = BinaryEncoder()

be_df = be.fit_transform(df_nominal_be)
be_df

,writers_0,writers_1,writers_2,writers_3,writers_4,writers_5,writers_6,writers_7,writers_8,writers_9,...,languages_1,languages_2,languages_3,languages_4,languages_5,languages_6,languages_7,languages_8,languages_9,languages_10
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63242,1,0,0,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,1
63243,1,0,0,1,0,0,1,0,1,0,...,0,0,0,1,1,0,1,1,1,1
63245,1,0,0,0,1,0,1,0,1,0,...,0,1,0,1,1,0,1,1,1,0
63246,1,0,0,1,0,0,1,0,1,0,...,0,0,0,0,0,0,1,0,0,0
63247,1,0,0,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,1

In [105]:
df.MPA.unique()

array(['PG', 'G', 'R', 'Not Rated', 'Unknown', 'Unrated', 'NC-17',
       'TV-14', 'X', 'PG-13', 'Approved', 'TV-PG', 'TV-MA', '16+',
       'TV-Y7-FV', 'TV-Y', 'GP', 'M', 'TV-G', 'M/PG', '18+', 'TV-Y7',
       'Passed', '13+'], dtype=object)

In [106]:
map_mpa = {
    'G': 0,
    'PG': 1,
    'PG-13': 2,
    'R': 3,
    'NC-17': 4,
    'Approved': 1,
    'GP': 1,
    'M': 2,
    'M/PG': 1,
    'Passed': 1,
    'TV-Y': 0,
    'TV-Y7': 0,
    'TV-Y7-FV': 0,
    'TV-G': 1,
    'TV-PG': 1,
    'TV-14': 2,
    '13+': 2,
    '16+': 3,
    '18+': 3,
    'TV-MA': 3,
    'Unrated': -1,
    'Not Rated': -1,
    'Unknown': -1,
    'X': -1
}

In [107]:
df['MPA_encoded'] = df['MPA'].map(map_mpa).fillna(-1)

In [108]:
from sklearn.preprocessing import OrdinalEncoder
ordered_mpa = [[
    'TV-Y', 'TV-Y7', 'TV-Y7-FV',
    'G', 'TV-G',
    'PG', 'TV-PG', 'Approved', 'GP', 'M/PG', 'Passed',
    'PG-13', '13+', 'TV-14', 'M',
    'R', '16+',
    'NC-17', '18+', 'TV-MA',
    'Unrated', 'Not Rated', 'Unknown', 'X'
]]
ord = OrdinalEncoder(categories=ordered_mpa, handle_unknown='use_encoded_value', unknown_value=-1)
df['MPA'] = ord.fit_transform(df[['MPA']])
df['MPA'] = df['MPA'].astype(int)

In [109]:
df.MPA

6         5
7         3
10        5
11        5
13        3
         ..
63242    15
63243    22
63245    15
63246     4
63247    11
Name: MPA, Length: 42800, dtype: int64

In [110]:
df.head()

,id,title,year,duration,MPA,rating,votes,description,Movie_Link,writers,directors,stars,release_date,countries_origin,filming_locations,production_companies,genres,languages,MPA_encoded
6,tt0073026,Funny Lady,1970-01-01 00:00:00.000001975,91,5,6.2,535.5,Story of singer Fanny Brice's stormy relations...,https://www.imdb.com/title/tt0073026,"['Jay Presson Allen', 'Arnold Schulman']",['Herbert Ross'],"['Barbra Streisand', 'James Caan', 'Omar Shari...",1970-01-01 00:00:00.000001975,['United States'],"['Central Station, Oakland, California, USA (C...","['Columbia Pictures', 'Rastar Pictures', 'Vista']","['Biography', 'Comedy', 'Drama', 'Musical', 'R...",['English'],1
7,tt0072653,The Apple Dumpling Gang,1970-01-01 00:00:00.000001975,100,3,6.4,535.5,Three orphan children strike gold in 1878 Cali...,https://www.imdb.com/title/tt0072653,"['Don Tait', 'Jack M. Bickham']",['Norman Tokar'],"['Bill Bixby', 'Susan Clark', 'Don Knotts', 'T...",1970-01-01 00:00:00.000001975,['United States'],"['Bend, Oregon, USA']",['Walt Disney Productions'],"['Slapstick', 'Comedy', 'Family', 'Western']",['English'],0
10,tt0073317,Lucky Lady,1970-01-01 00:00:00.000001975,118,5,5.2,1400.0,A trio of rum-runners during prohibition in th...,https://www.imdb.com/title/tt0073317,"['Willard Huyck', 'Gloria Katz']",['Stanley Donen'],"['Gene Hackman', 'Liza Minnelli', 'Burt Reynol...",1970-01-01 00:00:00.000001975,['United States'],"['Guaymas, Sonora, Mexico']",['Gruskoff/Venture Films'],"['Slapstick', 'Comedy', 'Crime', 'Drama']","['English', 'Spanish', 'French']",1
11,tt0073075,The Great Waldo Pepper,1970-01-01 00:00:00.000001975,107,5,6.7,535.5,"After WW1, an ex-pilot takes up barn-storming ...",https://www.imdb.com/title/tt0073075,"['George Roy Hill', 'William Goldman']",['George Roy Hill'],"['Robert Redford', 'Bo Svenson', 'Bo Brundin',...",1970-01-01 00:00:00.000001975,['United States'],"['Floresville, Texas, USA']","['Jennings Lang', 'Universal Pictures']","['Adventure', 'Drama']",['English'],1
13,tt0072951,Escape to Witch Mountain,1970-01-01 00:00:00.000001975,97,3,6.3,535.5,Two mysterious orphan children have extraordin...,https://www.imdb.com/title/tt0072951,"['Robert Malcolm Young', 'Alexander Key']",['John Hough'],"['Eddie Albert', 'Ray Milland', 'Donald Please...",1970-01-01 00:00:00.000001975,['United States'],"['Carmel, California, USA']",['Walt Disney Productions'],"['Adventure', 'Family', 'Fantasy', 'Mystery', ...",['English'],0

In [111]:
df = pd.concat([df, be_df], axis= 1).drop(df_nominal.columns, axis = 1)
df.head()

,year,duration,MPA,rating,votes,release_date,MPA_encoded,writers_0,writers_1,writers_2,...,languages_1,languages_2,languages_3,languages_4,languages_5,languages_6,languages_7,languages_8,languages_9,languages_10
6,1970-01-01 00:00:00.000001975,91,5,6.2,535.5,1970-01-01 00:00:00.000001975,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7,1970-01-01 00:00:00.000001975,100,3,6.4,535.5,1970-01-01 00:00:00.000001975,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
10,1970-01-01 00:00:00.000001975,118,5,5.2,1400.0,1970-01-01 00:00:00.000001975,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
11,1970-01-01 00:00:00.000001975,107,5,6.7,535.5,1970-01-01 00:00:00.000001975,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
13,1970-01-01 00:00:00.000001975,97,3,6.3,535.5,1970-01-01 00:00:00.000001975,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1